### node etc ###
env
data
logs
*.log

# Compiled Dirs (http://nodejs.org/api/addons.html)
build/
dist/

# Dependency directories
# Deployed apps should consider commenting these lines out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules/
bower_components/
