<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Document</title>
  </head>
  <body>
    <form action="./edit" method="post">
      <textarea name="body" rows="8" cols="80"><%= body %></textarea><br>
      <input type="submit" name="submit" value="Save">
      <a href=".">view</a>
      <a href="/documents/">list</a>
    </form>
  </body>
</html>
