<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a Document</title>
  </head>
  <body>
    <form action="./create" method="post">
      <textarea name="body" rows="8" cols="80"></textarea><br>
      <input type="submit" name="submit" value="Publish">
    </form>
  </body>
</html>
