<%- include('partials/header', locals) %>
<div class="center">
  <h1>Fastpress</h1>
  <h2 class='tagline'>Turn markdown into live web pages.</h2>
  <p><a href="/documents/create" class="button">Publish a Document</a></p>
  <%- include('partials/footer', locals) %>
</div>
