<%- include('partials/header', locals) %>
<h1>Fastpress</h1>
<p>Turn markdown into live web pages.</p>
<p><a href="/documents/create">Publish a Document</a></p>
<%- include('partials/footer', locals) %>
