<%- include('partials/header', locals) %>
<div class="center">
  <h1>Fastpress</h1>
  <h2 class='tagline'>Publish a live web page in seconds</h2>
  <p><a href="/documents/create" class="button">Build a Page</a></p>
  <%- include('partials/footer', locals) %>
</div>
