<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pages</title>
  </head>
  <body>
    <h1>Pages</h1>
    <ul>
      <li><a href="./create">CREATE A PAGE</a></li>
      <% pages.forEach( page => { %>
        <li>
          <a href="./<%= page._id %>">
             <%= page.title %>
          </a>
           (<%= page._id %>)
        </li>
      <% }) %>
    </ul>
  </body>
</html>
