<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a Page</title>
  </head>
  <body>
    <form action="/pages/create" method="post">
      <label for="title">Title</label><br>
      <input type="text" name="title"><br>
      <label for="body">Body</label><br>
      <textarea name="body" rows="8" cols="80"></textarea><br>
      <input type="submit" name="submit" value="Publish">
    </form>
  </body>
</html>
