<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sites</title>
  </head>
  <body>
    <h1>Sites</h1>
    <ul>
      <li><a href="/sites/create">CREATE A SITE</a></li>
      <% sites.forEach( site => { %>
        <li>
          <a href="/sites/<%= site._id %>">
             <%= site.name %>
          </a>
           (<%= site._id %>)
        </li>
      <% }) %>
    </ul>
  </body>
</html>
