<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Site</title>
  </head>
  <body>
    <form action="#" method="post">
      <label for="title">Name</label><br>
      <input type="text" name="name" value="<%= name %>"><br>
      <input type="submit" name="submit" value="Save">
      <ul>
        <li><a href="./pages/create">CREATE A PAGE</a></li>
        <% pages.forEach( page => { %>
          <li><a href="./pages/<%= page._id %>"><%= page.title %></a></li>
        <% }) %>
      </ul>
    </form>
  </body>
</html>
