<%- include('../partials/header', locals) %>
  <form action="/documents/create" method="post">
    <textarea name="body" rows="8" cols="80"></textarea><br>
    <input type="submit" name="submit" value="Publish">
    <a href="/">Back</a>
  </form>
<%- include('../partials/footer', locals) %>
