<%- include('../partials/header', locals) %>
  <%- html %>
  <% if (isOwner) { %>
    <div class="actionbar">
      <a href="/documents/<%= id %>/edit" class="button-link">edit</a>
      <a href="/documents/" class="button-link">documents</a>
      <a href="javascript:history.back()" class="button-link">back</a>
    </div>
  <% } %>
<%- include('../partials/footer', locals) %>
